@using System;
@using System.Collections.Generic;
@using System.Linq;
@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.Tests;

<style>

	.frame {
		width: 100%;
		height: 100%;
	}

	.kb_frame {
		border-radius: 1%;
		width: 100%;
		height: 100%;
		background-color: rgba(black, 0.5);
		backdrop-filter: blur(10);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;
		gap: 5%;
		padding-top: 0%;
		padding-bottom: 5%;
		padding-left: 2%;
		padding-right: 2%;
	}

	.drawer {
		width: 15%;
		height: 10%;
		background-color: rgba(grey, 0.5);
		align-self: center;
		border-radius: 0 0 10% 10%;
		pointer-events: all;
		align-items: center;
		justify-content: center;

		&:hover {
			background-color: rgba(white, 0.5);
		}
	}

	.keys_row {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: stretch;
		flex-grow: 1;
		gap: 4%;
		max-height: 15%;

		&.row1 {
			justify-content: space-between;
		}
	}

	.kb_key {
		border-radius: 4%;
		background-image-tint: white;
		background-size: 75% 80%;
		background-repeat: no-repeat;
		background-position: center;
		background-color: rgba(grey, 0.75);
		width: 6%;
		align-items: center;
		justify-content: center;

		&:hover {
			opacity: 0.5;
		}

		&:active {
			background-color: rgba(@SGCComputer.Color_SG_Blue.Rgb, 0.75);
			transform: scale(0.95);
			opacity: 1;
		}

		&.spacebar {
			width: 44%;
			border-radius: 2%;
		}

		&.alt_win {
			width: 8%;
			background-size: 65% 80%;
		}

		&.ctrl {
			width: auto;
			flex-grow: 1;
			background-size: 50% 80%;
		}

		&.escape {
			width: 8%;
		}

		&.backspace {
			width: 12%;
		}

		&.enter {
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 1;
			width: auto;

			&.invisible {
				opacity: 0;
			}
		}
	}

	.key_text {
		color: white;
		font-family: monospace;
		text-shadow: 0 0 5% black;
	}

</style>

<root class="frame">

	<div class="kb_frame">

		<div class="drawer" @ref=Drawer><label class="key_text" text="Keyboard" style="font-size: @(100 * TextScaleModifier)%"></label></div>

		<div class="keys_row row1">
			<div class="kb_key escape" @onclick=@(()=>{DoKeyboardAction("esc");})><label class="key_text" text="Esc" style="font-size: @(100 * TextScaleModifier)%"></label></div>
			<div class="kb_key backspace" @onclick=@(()=>{DoKeyboardAction("back");})><label class="key_text" text="<--" style="font-size: @(100 * TextScaleModifier)%"></label></div>
		</div>
		
		<div class="keys_row">
			<div class="kb_key" tooltip="#" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_1.png');" @onclick=@(()=>{DoKeyboardAction("symbol_#");})></div>
			<div class="kb_key" tooltip="0" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_2.png');" @onclick=@(()=>{DoKeyboardAction("symbol_0");})></div>
			<div class="kb_key" tooltip="J" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_3.png');" @onclick=@(()=>{DoKeyboardAction("symbol_J");})></div>
			<div class="kb_key" tooltip="K" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_4.png');" @onclick=@(()=>{DoKeyboardAction("symbol_K");})></div>
			<div class="kb_key" tooltip="N" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_5.png');" @onclick=@(()=>{DoKeyboardAction("symbol_N");})></div>
			<div class="kb_key" tooltip="T" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_6.png');" @onclick=@(()=>{DoKeyboardAction("symbol_T");})></div>
			<div class="kb_key" tooltip="R" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_7.png');" @onclick=@(()=>{DoKeyboardAction("symbol_R");})></div>
			<div class="kb_key" tooltip="3" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_8.png');" @onclick=@(()=>{DoKeyboardAction("symbol_3");})></div>
			<div class="kb_key" tooltip="M" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_9.png');" @onclick=@(()=>{DoKeyboardAction("symbol_M");})></div>
			<div class="kb_key" tooltip="B" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_10.png');" @onclick=@(()=>{DoKeyboardAction("symbol_B");})></div>
			<div class="kb_key" tooltip="Z" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_11.png');" @onclick=@(()=>{DoKeyboardAction("symbol_Z");})></div>
			<div class="kb_key" tooltip="X" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_12.png');" @onclick=@(()=>{DoKeyboardAction("symbol_X");})></div>
		</div>
		
		<div class="keys_row">
			<div class="kb_key enter invisible"></div>
			<div class="kb_key" tooltip="*" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_13.png');" @onclick=@(()=>{DoKeyboardAction("symbol_*");})></div>
			<div class="kb_key" tooltip="H" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_14.png');" @onclick=@(()=>{DoKeyboardAction("symbol_H");})></div>
			<div class="kb_key" tooltip="6" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_15.png');" @onclick=@(()=>{DoKeyboardAction("symbol_6");})></div>
			<div class="kb_key" tooltip="9" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_16.png');" @onclick=@(()=>{DoKeyboardAction("symbol_9");})></div>
			<div class="kb_key" tooltip="I" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_17.png');" @onclick=@(()=>{DoKeyboardAction("symbol_I");})></div>
			<div class="kb_key" tooltip="G" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_18.png');" @onclick=@(()=>{DoKeyboardAction("symbol_G");})></div>
			<div class="kb_key" tooltip="P" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_19.png');" @onclick=@(()=>{DoKeyboardAction("symbol_P");})></div>
			<div class="kb_key" tooltip="L" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_20.png');" @onclick=@(()=>{DoKeyboardAction("symbol_L");})></div>
			<div class="kb_key" tooltip="@@" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_21.png');" @onclick=@(()=>{DoKeyboardAction("symbol_@");})></div>
			<div class="kb_key" tooltip="Q" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_22.png');" @onclick=@(()=>{DoKeyboardAction("symbol_Q");})></div>
			<div class="kb_key" tooltip="F" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_23.png');" @onclick=@(()=>{DoKeyboardAction("symbol_F");})></div>
			<div class="kb_key enter" tooltip="Dial" @onclick=@(()=>{DoKeyboardAction("enter");})><label class="key_text" text="Enter" style="font-size: @(100 * TextScaleModifier)%"></label></div>
		</div>

		<div class="keys_row">
			<div class="kb_key" tooltip="S" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_24.png');" @onclick=@(()=>{DoKeyboardAction("symbol_S");})></div>
			<div class="kb_key" tooltip="1" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_25.png');" @onclick=@(()=>{DoKeyboardAction("symbol_1");})></div>
			<div class="kb_key" tooltip="E" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_26.png');" @onclick=@(()=>{DoKeyboardAction("symbol_E");})></div>
			<div class="kb_key" tooltip="4" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_27.png');" @onclick=@(()=>{DoKeyboardAction("symbol_4");})></div>
			<div class="kb_key" tooltip="A" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_28.png');" @onclick=@(()=>{DoKeyboardAction("symbol_A");})></div>
			<div class="kb_key" tooltip="U" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_29.png');" @onclick=@(()=>{DoKeyboardAction("symbol_U");})></div>
			<div class="kb_key" tooltip="8" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_30.png');" @onclick=@(()=>{DoKeyboardAction("symbol_8");})></div>
			<div class="kb_key" tooltip="5" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_31.png');" @onclick=@(()=>{DoKeyboardAction("symbol_5");})></div>
			<div class="kb_key" tooltip="O" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_32.png');" @onclick=@(()=>{DoKeyboardAction("symbol_O");})></div>
			<div class="kb_key" tooltip="C" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_33.png');" @onclick=@(()=>{DoKeyboardAction("symbol_C");})></div>
		</div>

		<div class="keys_row">
			<div class="kb_key ctrl" tooltip="W" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_34.png');" @onclick=@(()=>{DoKeyboardAction("symbol_W");})></div>
			<div class="kb_key alt_win" tooltip="7" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_35.png');" @onclick=@(()=>{DoKeyboardAction("symbol_7");})></div>
			<div class="kb_key alt_win" tooltip="2" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_36.png');" @onclick=@(()=>{DoKeyboardAction("symbol_2");})></div>
			<div class="kb_key spacebar" tooltip="Abort / Shutdown" @onclick=@(()=>{DoKeyboardAction("space");})><label class="key_text" text="Abort / Shutdown" style="font-size: @(100 * TextScaleModifier)%"></label></div>
			<div class="kb_key alt_win" tooltip="Y" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_37.png');" @onclick=@(()=>{DoKeyboardAction("symbol_Y");})></div>
			<div class="kb_key alt_win" tooltip="V" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_38.png');" @onclick=@(()=>{DoKeyboardAction("symbol_V");})></div>
			<div class="kb_key ctrl" tooltip="D" style="background-image: url('materials/sbox_stargate/glyphs/mw/glyph_39.png');" @onclick=@(()=>{DoKeyboardAction("symbol_D");})></div>
		</div>

	</div>
	
</root>

@code {

	private float TextScaleModifier = 0;

	public Panel Drawer = null;

	public SGCProgram_Dialing Program = null;

	protected override void OnAfterTreeRender(bool firstTime)
	{
		float h = (this as Panel).Box.Rect.Height;
		TextScaleModifier = h / 2048.0f;
	}

	private void DoKeyboardAction(string action)
	{
		if (!Program.Computer.IsValid() || !Program.Computer.Gate.IsValid())
			return;

		if (Program.Computer.Gate.Idle)
		{
			if (action.StartsWith("symbol_"))
			{
				var sym = action.Replace("symbol_", "")[0];
				if (Program.Address.Contains(sym))
					return;

				if (Program.Address.Length >= 7)
					return;

				SGCMonitor.ProgramDialUpdateAddressOnServer(Program.Monitor.NetworkIdent, Program.Address + sym);
			}

			if (action == "back")
			{
				if (Program.Address.Length > 0)
				{
					SGCMonitor.ProgramDialUpdateAddressOnServer(Program.Monitor.NetworkIdent, Program.Address.Remove(Program.Address.Length - 1));
				}
			}

			if (action == "enter")
			{
				if (Stargate.IsValidFullAddress(Program.Address))
				{
					Stargate.RequestDial(Stargate.DialType.SLOW, Program.Address, Program.Computer.Gate.NetworkIdent, 2f);
					SGCMonitor.ProgramDialUpdateAddressOnServer(Program.Monitor.NetworkIdent, "");
				}
			}
		}

		if (action == "space")
		{
			Stargate.RequestClose(Program.Computer.Gate.NetworkIdent);
		}
	}

	protected override int BuildHash()
	{
		return HashCode.Combine(Time.Now);
	}

}
